<!DOCTYPE html>
<html>
<head>
  <title>KYC Approval</title>
</head>
<body>
  <h1>Dear <%= @user.email %>,</h1>
  <p>Your KYC has been approved.</p>
  <p>Congratulations, your KYC verification has been approved. You can now use trade cryptocurrencies.</p>
</body>
</html>